body {
    margin: 0;
    padding: 0;
    font-family: STXihei, "Microsoft YaHei";
}

canvas {
    /*画布*/
    height: 600px;
    width: 400px;
    display: block;
}

img {
    display: none
}

.container {
    /*主页容器*/
    height: 600px;
    width: 400px;
    position: relative;
    margin: 20px auto 0;
    overflow: hidden;
}

#scoreBoard {
    /*记分板*/
    width: 420px;
    height: 50px;
    background: rgba(204, 214, 215, 0.7);
    position: absolute;
    top: -3px;
    left: 0;
    z-index: -1;
    /*默认隐藏*/
    border-image: url(../img/line.png) 100 5 round;
}

#scoreBoard p {
    font-size: 20px;
    padding: 0;
    line-height: 47px;
    margin: 0px 0 0 5px;
}

#mainMenu,
#gameOverMenu {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#gameOverMenu {
    visibility: hidden;
}

#evolutionMenu {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#volutionMenu {
    visibility: hidden;
}

h1 {
    font-size: 50px;
    color: white;
}

.button1 {
    width: 105px;
    height: 31px;
    background: url(../img/main.png) 0 -30px no-repeat;
    display: block;
    color: #000;
    font-size: 12px;
    line-height: 31px;
    text-decoration: none;
    position: absolute;
    left: 20%;
    bottom: 50px;
    margin-left: -53px;
}

.button2 {
    width: 105px;
    height: 31px;
    background: url(../img/main.png) 0 0 no-repeat;
    display: block;
    color: #000;
    font-size: 12px;
    line-height: 31px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -53px;
}

.button3 {
    width: 105px;
    height: 31px;
    background: url(../img/main.png) 0 -60px no-repeat;
    display: block;
    color: #000;
    font-size: 12px;
    line-height: 31px;
    text-decoration: none;
    position: absolute;
    left: 80%;
    bottom: 50px;
    margin-left: -53px;
}

.rule {
    position: auto;
    right: 60px;
    bottom: 00px;
    margin: 0;
    color: white
}

.rule .arrow {
    width: 16px;
    height: 16px;
    background: url(../img/main.png) no-repeat;
    text-indent: -9999px;
    display: inline-block;
}


/*左右箭头切取*/

.rule .arrow.left {
    background-position: -92px -621px;
}

.rule .arrow.right {
    background-position: -92px -641px;
}