/*index style*/
.demo-layout-transparent {
    background: url('http://coink.wang/source/pic/bg.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
}

/*card style*/
.demo-card-wide.mdl-card {
    width: 600px;
    margin: 50px auto;/*居中*/
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 200px;
    background: url('http://coink.wang/source/pic/card.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

/*侧边栏头像*/
#avatar{
    width:100px;height:100px;
    margin: 10px auto;
    /*设置成圆角图片*/
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

#description{
    text-align: center;
}

#music-player{
   position: fixed;
   z-index: 1001;
   right: 10px;
   top: 0;
}