.side-bar {
    float: left;
    width: 22%;
    height: auto;
}

.side-bar h1 {
    padding: 10px 30px;
    font-size: 18px;
    color: #eee;
    background: rgb(85, 75, 100);
}

.side-bar ul {
    list-style: none;
}

.side-bar ul li {
    padding: 0 30px;
    height: 36px;
    color: #1f6984;
    font-size: 12px;
    font-weight: bold;
    line-height: 36px;
    border-bottom: 1px solid rgb(226, 226, 226);
    background: rgb(243, 243, 243);
}

.side-bar ul li:hover {
    background: rgb(207, 207, 207);
    cursor: pointer;
}

.main {
    padding: 10px 2%;
    float: left;
    width: 74%;
    height: 400px;
}

.main .img {
    float: left;
    width: 120px;
    height: 160px;
    text-align: center;
}

.main .img img {
    width: 140px;
    height: 200px;
}

.main .img span {
    text-align: center;
}

.main:after {
    display: block;
    content: "";
    clear: both;
}
