<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper-about">
        <article>
          <header>
            {%- if page.title -%}
              <h2>{{ page.title | escape }}</h2>
            {%- endif -%}
          </header>
          <div>
            <!-- {{ content }} -->
            <!-- 定制页面，不渲染 content 了 -->
            <div class="collapsible">
              <input id="collapsible-gaming" type="checkbox" name="collapsible">
              <label for="collapsible-gaming">游戏 Gaming</label>
              <div class="collapsible-body">
                <p>我在 PlayStation 5、Xbox Series S、Nintendo Switch、Steam Deck、PC 上进行游戏</p>
                <p>我喜欢独立游戏、射击游戏，尤其喜欢打破第四面墙的 meta game</p>
                <span class="badge secondary">守望先锋 Overwatch</span>
                <span class="badge secondary">泰坦陨落 Titanfall</span>
                <span class="badge secondary">喷射战士 Splatoon</span>
                <span class="badge secondary">光环 Halo</span>
                <span class="badge secondary">战锤 40K</span>
                <span class="badge secondary">使命召唤 Call Of Duty</span>
                <span class="badge secondary">战地 Battlefield</span>
                <span class="badge secondary">命运 Destiny</span>
                <span class="badge secondary">魔兽世界 WOW</span>
                <span class="badge secondary">Apex Legends</span>
                <span class="badge secondary">模拟飞行 Microsoft Flight Simulator</span>
                <span class="badge secondary">Inside</span>
                <span class="badge secondary">伊迪芬奇的秘密 What Remains of Edith Finch</span>
                <span class="badge secondary">美国阿卡迪亚</span>
                <span class="badge secondary">传送门 Portal</span>
                <span class="badge secondary">星际拓荒 Outer Wilds</span>
                <span class="badge secondary">极乐迪斯科 Disco Elysium</span>
                <span class="badge secondary">赛博朋克 2077</span>
                <span class="badge secondary">史丹利寓言 The Stanley Parable</span>
                <span class="badge secondary">动物井 Animal Wall</span>
                <span class="badge secondary">女巫 Noita </span>
              </div>
            </div>
            <div class="collapsible">
              <input id="collapsible-birding" type="checkbox" name="collapsible">
              <label for="collapsible-birding">观鸟 Birding</label>
              <div class="collapsible-body">
                <span>我喜欢深入郊野，观察自然生灵。我用 Nikon P950 记录，你可以在这里看到我的摄影：<a href="https://coink.wang/photography">#photography</a></span>
              </div>
            </div>
            <div class="collapsible">
              <input id="collapsible-writing" type="checkbox" name="collapsible">
              <label for="collapsible-writing">写作 Writing</label>
              <div class="collapsible-body">
                <p>我写一些技术文章、散文、小说、诗</p>
                <div>
                  <img src="https://s2.loli.net/2024/11/28/XMKLtHs2FmY7agn.jpg" width="200"/>
                  <a href="http://www.tup.tsinghua.edu.cn/bookscenter/book_06579101.html">《黑客与安全技术指南》</a>
                  <br />
                  <span style="font-size: 12px;">（2018）</span>
                </div>
                <div>
                  <a href="">《失眠权》（WIP）</a>
                </div>
              </div>
            </div>
            <div class="collapsible">
              <input id="collapsible-reading" type="checkbox" name="collapsible">
              <label for="collapsible-reading">阅读 Reading</label>
              <div class="collapsible-body">
                <p>我读的书很杂，占比较大的是：文学、社科、哲学（多为精神分析）、计算机技术</p>
                <p>我阅读实体书，也使用电子阅读器</p>
              </div>
            </div>
            <div class="collapsible">
              <input id="collapsible-music" type="checkbox" name="collapsible">
              <label for="collapsible-music">音乐 Music</label>
              <div class="collapsible-body">
                <p>我欣赏：摇滚乐、后摇滚、民谣、器乐</p>
                <span class="badge secondary">木推瓜</span>
                <span class="badge secondary">万能青年旅店</span>
                <span class="badge secondary">周二下午谁没来</span>
                <span class="badge secondary">罔闻</span>
                <span class="badge secondary">MONO</span>
                <span class="badge secondary">Cicada</span>
                <span class="badge secondary">交工樂隊</span>
                <span class="badge secondary">腰乐队</span>
                <p>我在学习演奏：二胡、电二胡、电吉他、键盘、卡祖笛</p>
                <img src="https://s2.loli.net/2024/11/28/WYMiaXNO8ehgtFd.jpg" />
              </div>
            </div>
            <div class="collapsible">
              <input id="collapsible-coding" type="checkbox" name="collapsible">
              <label for="collapsible-coding">编码 Coding</label>
              <div class="collapsible-body">
                <p>我通过编码获取薪水，也做一些工具方便自己的生活</p>
              </div>
            </div>
            <div class="collapsible">
              <input id="collapsible-links" type="checkbox" name="collapsible">
              <label for="collapsible-links">联系方式 Links</label>
              <div class="collapsible-body">
                  <p>Mail: cn.coink.wang[at]gmail[dot]com</p>
                  <p>Twitter: <a href="https://twitter.com/CoinkWang" target="_blank">CoinkWang</a></p>
                  <p>Github: <a href="https://github.com/CoinkWang" target="_blank">CoinkWang</a></p>
                  <p>Telegram: <a href="https://t.me/Coink" target="_blank">@Coink</a></p>
              </div>
            </div>
          </div>
        
          <!-- {%- if page.works.name -%}
            <h3>{{ page.works.name | escape }}</h3>
          {%- endif -%}
          <div class="works-card-container">
          {%- if page.works -%}
            {% for work in page.works.data %}
            <div class="card works-card">
              {%- if work[1].imgsrc -%}
                <img src={{ work[1].imgsrc | escape }}  alt="Card image">
              {%- endif -%}
              <div class="card-body">
                {%- if work[1].title -%}
                  <h4 class="card-title">{{ work[1].title | escape }} 
                    {%- if work[1].tags -%}
                      {% for tag in work[1].tags %}
                        <span class="badge success">{{ tag | escape }} </span>
                      {% endfor %}
                    {%- endif -%}
                  </h4>
                {%- endif -%}
                {%- if work[1].subtitle -%}
                  <h5 class="card-subtitle">{{ work[1].subtitle | escape }}</h5>
                {%- endif -%}
                {%- if work[1].description -%}
                  <p class="card-text">{{ work[1].description | escape }}</p>
                {%- endif -%}
                {%- if work[1].button_text -%}
                  <a href="{{ work[1].link | escape }}" class="clean-link"><button>{{ work[1].button_text | escape }}</button></a>
                {%- endif -%}
              </div>
            </div>
            {% endfor %}
          {%- endif -%}
          </div> -->
        </article>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

